<link rel="preconnect" href="https://compragamer.net" />
<main class="container">
  <div class="card" *ngIf="product">
    <div class="card-image">
      <img
        ngSrc="{{
          'https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_' +
            product.imagenes[0].nombre +
            '-med.jpg'
        }}"
        width="150"
        height="120"
        priority
      />
    </div>
    <div class="category">{{ product.subCategoria }}</div>
    <div class="price">$ {{ product.precio | currencyChange }}</div>
    <div class="heading">
      {{ product.nombre.slice(0, 18) + (product.nombre.length > 18 && "...") }}
    </div>
    <div *ngIf="!product.inCart" class="author">
      <button class="btn-blue cart" (click)="addToCart()">
        SUMAR AL CARRITO
      </button>
    </div>
    <div *ngIf="product.inCart" class="author">
      <button class="btn-blue cart-remove" (click)="removeFromCart(product)">
        QUITAR DEL CARRITO
      </button>
    </div>
  </div>
</main>
