ul {
  margin: 0;
  padding: 0;
}

.footer {
  padding: 10px;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgb(5, 68, 119);
}

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
